<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nagi</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/yukihirop/.nodenv/versions/22.13.1/bin/node</string>
        <string>/Users/yukihirop/JavaScriptProjects/nagi/node_modules/.pnpm/tsx@4.21.0/node_modules/tsx/dist/cli.mjs</string>
        <string>/Users/yukihirop/JavaScriptProjects/nagi/entry.ts</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/yukihirop/JavaScriptProjects/nagi</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/yukihirop/.nodenv/versions/22.13.1/bin:/Users/yukihirop/.nodenv/shims:/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>/Users/yukihirop</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/yukihirop/JavaScriptProjects/nagi/logs/nagi.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/yukihirop/JavaScriptProjects/nagi/logs/nagi.error.log</string>
</dict>
</plist>
